<nav class="navbar navbar-expand-lg navbar-light bg-light pe-5">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        {% if user.name %}
            <div class="ms-auto"><h2>Welcome {{ user.name }} :)</h2></div>
        {% endif %}
        <div class="navbar-nav ms-auto">
            <a class="nav-item nav-link active" href="/">Home</a>
            {% if user.name %}
            <a class="nav-item nav-link" href="/logout">Logout</a>
            {% else %}
            <a class="nav-item nav-link" href="/register">Registration</a>
            <a class="nav-item nav-link" href="/login">Login</a>
            {% endif %}
        </div>
    </div>
</nav>